{{template "base" .}}

{{define "content"}}
    <h1>This is About Page</h1>
    <p>This is some paragraph text</p>
    <p>This is some paragraph text</p>
    <p>This is data from template {{ index .StringMap "test"}}</p>
    <p>This is data from template {{ index .IntMap "test2"}}</p>

    <p>
        {{if ne (index .StringMap "remote_ip") ""}}
            your remote IP address is {{index .StringMap "remote_ip"}}
        {{else}}
            I don't knonw your ip address yet. Visit the <a href="/">Homepage</a> so I can set it.
        {{end}}
    </p>

    {{end}}